In [6]:
from sklearn.feature_extraction.text import CountVectorizer #单词计数向量 
import pandas as pd 
import numpy as np

In [7]:
sample = ['Machine learning is fascinating'
         ,'Machine learning is a sensational technology'
         ,'It is wonderful']

In [8]:
vec = CountVectorizer()

In [9]:
X = vec.fit_transform(sample)

In [10]:
X

<3x8 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [11]:
#使用接口get_feature_names()调用每个列的名称
vec.get_feature_names()#按照字母的顺序排列

['fascinating',
 'is',
 'it',
 'learning',
 'machine',
 'sensational',
 'technology',
 'wonderful']

In [12]:
#输出矩阵
CVresult = pd.DataFrame(X.toarray(),columns=vec.get_feature_names())

In [13]:
CVresult

   fascinating  is  it  learning  machine  sensational  technology  wonderful
0            1   1   0         1        1            0           0          0
1            0   1   0         1        1            1           1          0
2            0   1   1         0        0            0           0          1

In [14]:
#TF-IDF词频逆文档频率，词越常见，编码后权重越小
from sklearn.feature_extraction.text import TfidfVectorizer as TFIDF
vec = TFIDF()

In [15]:
X = vec.fit_transform(sample)

In [16]:
TFIDFresult = pd.DataFrame(X.toarray(),columns=vec.get_feature_names())
TFIDFresult

,fascinating,is,it,learning,machine,sensational,technology,wonderful
0,0.631745,0.373119,0.000000,0.480458,0.480458,0.000000,0.000000,0.000000
1,0.000000,0.315444,0.000000,0.406192,0.406192,0.534093,0.534093,0.000000
2,0.000000,0.385372,0.652491,0.000000,0.000000,0.000000,0.000000,0.652491